html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #A1CDA8;
  }

.title {
  padding: 20px 20px 20px 20px;
  font-size: 30px;

}

.quote {
  padding: 20px 20px 20px 20px;
  text-align: right;
}
