/* ======= ======= ======= general ======= ======= ======= */
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.header {
  background-color: #A1CDA8;
  
}
/* ======= clearfix ======= */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}
